.Pagination_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

@media screen and (max-width:768px) {
    .Pagination_wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .Pagination_wrapper nav {
       margin: 20px 0;
    }
    
}

#inValidPropsError {
    color: red;
    font-weight: 700;
    text-align: center;
    margin: auto;
    font-size: 22px;
}

.Pagination_wrapper button {
    cursor: pointer;
}

.Pagination_wrapper button:focus,
.Pagination_wrapper select:focus {
    outline: none;
}

.Pagination_wrapper ul {
    position: relative;
    display: inline-flex;
    list-style: none;
    padding: 0;
}

.Pagination_wrapper .prev_btn,
.Pagination_wrapper .next_btn {
    padding: .5rem .75rem;
    margin-left: 0;
    border: 1px solid #D1D5DB;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Pagination_wrapper .prev_btn {
    border-radius: 0.5rem 0 0 0.5rem;
}

.Pagination_wrapper .next_btn {
    border-radius: 0 0.5rem 0.5rem 0;
}

.Pagination_wrapper .prev_btn:not(:disabled):hover,
.Pagination_wrapper .next_btn:not(:disabled):hover,
.PaginationItem:not(.PaginationItem_active):hover {
    transition: all .3s;
    background-color: #4e46e538;
}

.Pagination_wrapper .prev_btn:disabled,
.Pagination_wrapper .next_btn:disabled {
    cursor: not-allowed;
    opacity: .7;
}

.Pagination_wrapper .Pagination_seprator {
    font-size: 1.125rem;
    margin: 0 0.25rem;
    font-weight: 700;
}

.take_changer_wrapper {
    display: flex;
    position: relative;
}

.take_changer_wrapper div {
    padding: 0 1rem;
}

.take_changer_wrapper select {

    background-color: white;
    padding: 0 1.25rem;
    border: 1px solid #D1D5DB;
    padding: 0.25rem .5rem;
    border-radius: 0.3rem;
    transition: all .3s;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.take_changer_wrapper select::-ms-expand {
    display: none;
}

.take_changer_wrapper select:hover {
    background-color: #4e46e538;
}

.PaginationItem {
    border: 1px solid #ddd;
    padding: .5rem .75rem;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.PaginationItem:not(.PaginationItem_active) {
    background-color: #f7fafc;
    color: black;
}

.PaginationItem_active {
    background-color: #4F46E5;
    color: white;
}

.Pagination_wrapper .pagination_loading_wrapper {
    position: absolute;
    background: rgba(255, 255, 255, .6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination_loading .line {
    display: inline-block;
    width: 15px;
    height: 10px;
    border-radius: 15px;
    background-color: #4F46E5;
}

.pagination_loading .line:nth-last-child(1) {
    animation: pagination_loading 1.5s 1s infinite;
}

.pagination_loading .line:nth-last-child(2) {
    animation: pagination_loading 1.5s 0.5s infinite;
}

.pagination_loading .line:nth-last-child(3) {
    animation: pagination_loading 1.5s 0s infinite;
}

@keyframes pagination_loading {
    0% {
        width: 15px;
    }

    50% {
        width: 35px;
    }

    100% {
        width: 15px;
    }
}